<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>061</key>
	<string>香港</string>
	<key>097</key>
	<string>黑龙江</string>
	<key>091</key>
	<string>辽宁</string>
	<key>090</key>
	<string>吉林</string>
	<key>089</key>
	<string>新疆</string>
	<key>088</key>
	<string>宁夏</string>
	<key>087</key>
	<string>甘肃</string>
	<key>086</key>
	<string>云南</string>
	<key>085</key>
	<string>贵州</string>
	<key>084</key>
	<string>陕西</string>
	<key>083</key>
	<string>重庆</string>
	<key>081</key>
	<string>四川</string>
	<key>079</key>
	<string>西藏</string>
	<key>076</key>
	<string>河南</string>
	<key>075</key>
	<string>江西</string>
	<key>074</key>
	<string>湖南</string>
	<key>071</key>
	<string>湖北</string>
	<key>070</key>
	<string>青海</string>
	<key>059</key>
	<string>广西</string>
	<key>051</key>
	<string>广东</string>
	<key>050</key>
	<string>海南</string>
	<key>038</key>
	<string>福建</string>
	<key>036</key>
	<string>浙江</string>
	<key>034</key>
	<string>江苏</string>
	<key>031</key>
	<string>上海</string>
	<key>030</key>
	<string>安徽</string>
	<key>022</key>
	<string>澳门</string>
	<key>019</key>
	<string>山西</string>
	<key>018</key>
	<string>河北</string>
	<key>017</key>
	<string>山东</string>
	<key>013</key>
	<string>天津</string>
	<key>011</key>
	<string>北京</string>
</dict>
</plist>
